  <div id="<%= order.id %>" class="px-2 m-2 rounded-xl bg-slate-300 hover:animate-pulse" >

  <div class="my-2">
    <p class="px-4 py-1 my-3 font-serif text-2xl font-semibold truncate rounded-full bg-slate-400">
      <%= order.first_name %>
    </p>

    <p class="my-3">
      Price: <%= order.last_name %> $
    </p>

    <p class="my-3">
      Address: <%= order.address %>
    </p>

     <p class="my-3">
      Phone: <%= order.phone %>
    </p>

  </div>
</div>
