<div id="<%= dom_id product %>" class="px-2 m-2 rounded-xl bg-slate-300 hover:animate-pulse" >
  <div class="my-2">
    <p class="px-4 py-1 my-3 font-serif text-2xl font-semibold truncate rounded-full bg-slate-400">
      <%= product.name %>
    </p>
    <p class="my-3">
      Price: <%= number_to_currency(product.price) %> $
    </p>
    <p class="my-3">
      Left in stock: <%= product.balance %>
    </p>
    <div class="flex">
      <%= button_to 'Add to Cart', add_product_path(product) , class:"green-xs-btn" %>
      <%= button_to 'Delete from Cart', remove_product_path(product) , class:"red-xs-btn" %>
      <%= link_to "Show", product, class:"blue-xs-btn" %>
    </div>
  </div>
</div>
