<div class="flex flex-col items-center w-full h-full">
  <div class="sticky top-0 flex justify-between w-full">
    <div class="w-3/4 my-2">
      <h1 class="text-3xl font-semibold text-center rounded-md bg-slate-200">
        Product List</h1>
    </div>
    <!-- Start Cart table -->
    <div class="overflow-hidden rounded-sm md:rounded-lg">
      <h1 class="justify-center text-xl font-semibold bg-green-200 rounded-md">
        Cart: <%= link_to 'Go to cart', cart_path, class:"green-xs-btn" %>
      </h1>
      <table id='cart_tbl' class="divide-y divide-gray-200 min-w-fit dark:divide-gray-700 hover:border-spacing-2">
        <%= thead_tag ['Product Name', 'Product Price', 'Quantity', 'Total Price'], :small %>
        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
          <%  @session_products[:products].each do |x| %>
            <tr class="text-sm text-yellow-300">
              <%= row_tag x, :name, :price, :quantity, :sum %>
            </tr>
          <% end %>
          <tr class="text-sm text-yellow-300">
            <td colspan='3' class='indent-1'>Total Sum: </td>
            <td class='indent-1'><%= number_to_currency(@session_products[:total_sum]) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End Cart table -->
  </div>
  <!-- Start product list -->
  <div class="flex flex-wrap my-16">
    <% @products.each do |product| %>
      <div class="max-w-fit sm:w-3/5 md:w-1/2 lg:w-1/3 xl:w-3/12 2xl:w-1/5">
        <%= render 'products/product', product: product %>
      </div>
    <% end %>
  </div>
  <!-- End product list -->
</div>
