<div class="flex flex-col items-center mx-auto md:w-1/2">
  <h1 class="text-2xl font-bold">Show Product</h1>
  <div class="my-1">
    <p class="pr-show">
      Name: <%= @product.name %>
    </p>
    <p class="pr-show">
      Description: <%= @product.description %>
    </p>
    <p class="pr-show">
      Price: <%= number_to_currency(@product.price) %> $
    </p>
    <p class="pr-show">
      Left in stock: <%= @product.balance %>
    </p>
    <div class="flex">
      <%= link_to 'Back', products_path,  class: "blue-xl-btn" %>
      <%= button_to 'Add to Cart', add_product_path(@product),
                              params: { action_type: "add" } , class:"green-xl-btn" %>
      <%= button_to 'Delete from Cart', remove_product_path(@product),
                              params: { action_type: "delete" } , class:"orange-xl-btn" %>
    </div>
  </div>
</div>
